<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="app">
    <header><h2>header</h2></header>
    <div class="content">
        <section class="tree"><h2>tree</h2></section>
        <section class="board">
            <ul class="messages">

            <li class="message me clear">
                <span class="sender-name">Shai Saar</span>
                <span class="sender-content">Hey bro, how are you doing?</span>
                <span class="sender-date">sent at 13:59 25/2/18 </span>
            </li>

            <li class="message notMe clear">
                <span class="sender-name">Fedor</span>
                <span class="sender-content">I'm good, how are you?</span>
                <span class="sender-date">sent at 13:59 25/2/18 </span>
            </li>
            <li>
                <div class="message me clear">
                <span class="sender-name">Shai Saar</span>
                <span class="sender-content">Awesome!</span>
                <span class="sender-date">sent at 13:59 25/2/18 </span>
                </div>
                <div class="arrow-down"></div>
            </li>

            </ul>
            <div class="input-box">
                    <input type="text" placeholder="enter your message here">
                    <button>send</button>
            </div>
        </section>
    </div>
    <footer><h2>footer</h2></footer>
</div>
<div class="wrapper">
    <div class="login">
        <input type="text" name="username" id="username">
        <input type="text" name="password" id="password">
        <button value="login">login</button>
    </div>
</div>
</body>
</html>